
<div id="main-container" style = "font-family:Arial;">
    <hr>
    <ul>
        <h3>직무명 : {{val1}} </h3>

        <h3>직무 Summary</h3>
            <p>{{val2}}</p>

        <h3>[주요 업무책임]</h3>
        {% for vv in val3%}
            <p> • {{vv}}</p>
        {%endfor%}

        <h3>{{tit}}</h3>
        {% for vv in val4%}
            <p> {{vv}}</p>
        {%endfor%}

        <h3>[필수자격요건]</h3>
        {% for vv in val5%}
            <p> • {{vv}}</p>
        {%endfor%}

        <h3>[선호자격요건]</h3>
        {% for vv in val6%}
            <p> • {{vv}}</p>
        {%endfor%}

        <h3>[필요역량]</h3>
        {% for vv in val7%}
            <p> • {{vv}}</p>
        {%endfor%}
    </ul>
</div>