{% extends "layout_on.html" %}
{% block body %}
<div id = "left" style = "width:47%; height:500px; float:left; overflow:auto; font-size:0.7em font-family:arial;border: 1px solid #bcbcbc;">
    <form action = '/jd_create' method = 'GET'>
        <input type = "text" name = '검색'  style = "width:70px;" placeholder="직무 검색">
        <input type="submit" value = '검색'>
    </form>

    <ul>
        <table id="example" class="display">
            <thead>
                <th>법인명</th>
                <th>팀명</th>
                <th>직군</th>
                <th>직무</th>
                <th>직열</th>
                <th>JD</th>
            </thead>

            {%for i in messages%}
            <tbody>
                <tr>
                    <td>{{i[0]}}</td>
                    <td>{{i[1]}}</td>
                    <td>{{i[2]}}</td>
                    <td>{{i[3]}}</td>
                    <td>{{i[4]}}</td>
                    <td><form action = '/jd_show' method = 'GET' target = "result" onsubmit="window.open('','result','width=800,height=700');">
                        <input type ="hidden"  name = "file_name" value="{{i[5]}}">
                        <input type="submit" value="보기"></form></td>
                </tr>
            </tbody>
            {%endfor%}
        </table>
    </ul>
</div>
<div id = right style = "width:47%;height:500px; float:right; overflow:auto; font-size:0.7em font-family:arial;border: 1px solid #bcbcbc;">
    <ul>
    <form action = '/preview' method = 'POST'>
        <br style="width:100px;"><h3>직무명 :</h3>
            <input type="text" name="position" list=job_lst placeholder = "담당 직무 (공고 직무명)" style="width:500px;" required>
            <datalist id = "job_lst">
                {% for p in create_result[2]%}
                    <option value = "{{p}}">
                {%endfor%}
             </datalist>
        </br>

        <br><h3>직무 Summary</h3>
            <textarea name="job_summ" id = text_area0 cols="80" rows="4" placeholder = "해당 직무에서 달성해야 하는 미션 및 전반적 요약 (주로 어떤 일을, 누구와 하게 되는지), 지원자에게 줄 수 있는 비전 (매력적으로 보일 수 있는 경험/성장 가능성 등)에 대해 3~5줄로 기술" required ></textarea>
            <br>
                <select id="drop_down0">
                    <option value="">직무 Summary</option>
                        {% for summ in create_result[3]%}
                             <option value= "{{summ}}">{{summ}}</option>
                        {%endfor%}
                </select>
                <script type="text/javascript">
                    var mytextbox0 = document.getElementById('text_area0');
                    var mydropdown0 = document.getElementById('drop_down0');
                        mydropdown0.onchange = function(){
                            mytextbox0.value = mytextbox0.value  + this.value + "\r"; //to appened
                            //mytextbox0.innerHTML = this.value;
                        }
                </script>
            </br>
        </br>

        <br><h3>[주요 업무책임]</h3>
            <textarea name="job_resp" id = text_area1 cols="80" rows="6" placeholder = "해당 업무에서 하는 주요 업무 R&R (중요도 순)" required></textarea>
            <br>
                <select id="drop_down1">
                    <option value="">주요 업무책임</option>
                        {% for resp in create_result[4]%}
                             <option value= "{{resp}}">{{resp}}</option>
                        {%endfor%}
                </select>
                <script type="text/javascript">
                    var mytextbox1 = document.getElementById('text_area1');
                    var mydropdown1 = document.getElementById('drop_down1');

                    mydropdown1.onchange = function(){
                          mytextbox1.value = mytextbox1.value  + this.value + "\r"; //to appened
                         //mytextbox1.innerHTML = this.value;
                         }
                </script>
            </br>
        </br>

        <br><h3>[주요 업무환경]</h3>
            <textarea name="job_envr" id = text_area2 cols="80" rows="3" placeholder = "일반적인 사무실 업무가 아닌 특수 업무 환경/조건 등이 있으면 기술. 또는 잦은 국내/해외 출장 (전체 업무 100 중에 비중 표시), 특수 업무시간, 신체사용 정도 (전체 업무 100중에 비중 표시) 등" required></textarea>
            <br>
                <select id="drop_down2">
                    <option value="">주요 업무환경</option>
                        {% for resp in create_result[8]%}
                             <option value= "{{resp}}">{{resp}}</option>
                        {%endfor%}
                </select>
                <script type="text/javascript">
                    var mytextbox2 = document.getElementById('text_area2');
                    var mydropdown2 = document.getElementById('drop_down2');

                    mydropdown2.onchange = function(){
                          mytextbox2.value = mytextbox2.value  + this.value + "\r"; //to appened
                         //mytextbox2.innerHTML = this.value;
                         }
                </script>
            </br>
        </br>

        <br><h3>[필수 자격요건]</h3>
            <ul>
                <br> 학위
                    <input type="text" name="job_degr" list=degr_lst placeholder = "학력 무관 혹은 전문학사/학사/석사/박사" style="width:200px;" required/>이상
                        <datalist id = "degr_lst">
                            {% for p in create_result[9]%}
                                <option value = "{{p}}">
                            {%endfor%}
                        </datalist>
                </br>

                <br>전공
                    <input type="text" name="job_majo" list=majo_lst placeholder = "전공 무관 혹은 직무와 관련된 전공 " style="width:180px;" required>
                    <datalist id = "majo_lst">
                        {% for p in create_result[10]%}
                            <option value = "{{p}}">
                        {%endfor%}
                    </datalist>
                </br>

                <br>우대전공
                    <textarea name="job_mino" id = text_area3 cols="40" rows="1" placeholder = "필수사항은 아니나 해당 업무에 도움이 될 전공 또는 우대 전공" required></textarea>
                        <select id="drop_down3">
                            <option value="">우대전공</option>
                                {% for mino in create_result[11]%}
                                    <option value= "{{mino}}">{{mino}}</option>
                                {%endfor%}
                        </select>

                        <script type="text/javascript">
                            var mytextbox3 = document.getElementById('text_area3');
                            var mydropdown3 = document.getElementById('drop_down3');

                            mydropdown3.onchange = function(){
                                  mytextbox3.value = mytextbox3.value  + this.value + "\,"; //to appened
                                 //mytextbox3.innerHTML = this.value;
                            }
                        </script>
                    </br>


                <br> 경력연차
                    <input type="text" name="job_year" list=year_lst placeholder = "해당 직무의 원할한 퍼포먼스 및 높은 숙련도를 위한 경력 연차" style="width:280px;" required>
                        <datalist id = "year_lst">
                            {% for p in create_result[13]%}
                                <option value = "{{p}}">
                            {%endfor%}
                        </datalist>
                </br>

                <br>경력배경
                    <input type="text" name="job_back" list=back_lst placeholder = "n년 이상/이하 특정 업무 혹은 관련 업무 경험자" style="width:250px;" required>
                    <datalist id = "back_lst">
                        {% for p in create_result[14]%}
                            <option value = "{{p}}">
                        {%endfor%}
                    </datalist>
                </br>

                <br style="width:150px;">경력최소연차
                    <input type="text" name="job_minn" list=minn_lst placeholder = "해당 직무의 원할한 적응을 위한 최소 경력 연차" style="width:220px;" required>
                    <datalist id = "minn_lst">
                        {% for p in create_result[12]%}
                            <option value = "{{p}}">
                        {%endfor%}
                    </datalist>
                </br>

                <br>자격증
                    <input type="text" name="cert_lst" list=cert_lst placeholder = "업무 특성상 자격증이 필요한 경우 기입" style="width:480px;" required>
                    <datalist id = "cert_lst">
                        {% for p in create_result[15]%}
                            <option value = "{{p}}">
                        {%endfor%}
                    </datalist>
                </br>

                <br>포트폴리오
                    <input type="text" name="port_lst" list=port_lst placeholder = "포트폴리오 및 과제 확인이 필요할 경우 기입 " style="width:450px;" required>
                    <datalist id = "port_lst">
                        {% for p in create_result[16]%}
                            <option value = "{{p}}">
                        {%endfor%}
                    </datalist>
                </br>

                <br>R & R
                    <ul>
                        <textarea name="job_main" id = text_area4 cols="80" rows="5" placeholder = "관련 경험을 보유한 분 (중요도 순)\n업무 속성/일하는 환경/유관부서 협업 정도 등을 고려해, 반드시 갖추어야 할 요건 (경험, 스킬, 태도 모두 포함) 기술" required></textarea>
                        <select id="drop_down4">
                                <option value="">필수 자격요건</option>
                                     {%for main in create_result[5]%}
                                        <option value= "{{main}}">{{main}}</option>
                                     {%endfor%}
                        </select>
                        <script type="text/javascript">
                            var mytextbox4 = document.getElementById('text_area4');
                            var mydropdown4 = document.getElementById('drop_down4');

                            mydropdown4.onchange = function(){
                                  mytextbox4.value = mytextbox4.value  + this.value + "\r"; //to appened
                                 //mytextbox4.innerHTML = this.value;
                            }
                        </script>
                    </ul>
                </br>
            </ul>
        </br>

        <br><h3>[선호 자격요건]</h3>
            <textarea name="job_pref" id = text_area5 cols="80" rows="5" placeholder = "관련 경험을 보유한 분\n외국어 커뮤니케이션 원할한 분\n필수 요건은 아니나 갖추고 있으면 우대/선호하는 경험/스킬/태도 기술 (중요도 순)" required></textarea>
            <br>
                <select id="drop_down5">
                    <option value="">선호 자격요건</option>
                        {%for pref in create_result[6]%}
                            <option value= "{{pref}}">{{pref}}</option>
                        {%endfor%}
                </select>
                <script type="text/javascript">
                    var mytextbox5 = document.getElementById('text_area5');
                    var mydropdown5 = document.getElementById('drop_down5');

                    mydropdown5.onchange = function(){
                          mytextbox5.value = mytextbox5.value  + this.value + "\r"; //to appened
                         //mytextbox5.innerHTML = this.value;
                    }
                </script>
            </br>
        </br>

        <br><h3>[필요역량]</h3>
            <textarea name="job_capa" id = text_area6 cols="80" rows="5" placeholder = "해당 직무를 탁월하게 수행하는 사람이 가진 특성 (중요도 순)" required></textarea>
            <br>
                <select id="drop_down6">
                    <option value="">필요역량</option>
                        {%for capa in create_result[7]%}
                            <option value= "{{capa}}">{{capa}}</option>
                        {%endfor%}
                </select>
                <script type="text/javascript">
                    var mytextbox6 = document.getElementById('text_area6');
                    var mydropdown6 = document.getElementById('drop_down6');

                    mydropdown6.onchange = function(){
                          mytextbox6.value = mytextbox6.value  + this.value + "\r"; //to appened
                         //mytextbox6.innerHTML = this.value ;
                    }
                </script>
            </br>
        </br>

        <input type = 'hidden' name = 'title' value = "{{title}}"/>
        <p><input type = 'submit' value = '미리보기'/></p>
        </form>
    </ul>
</div>

{% endblock %}